* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    cursor: pointer;
}

body {
    position: fixed;
}

canvas#main-canvas, div#overlay {
    width: 100%;
    height: 100%;
    background: url("../images/background_image.png") no-repeat center center fixed;
    background-size: cover;
}     

div#overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.gameInterface {
    position: absolute;
    top: 50px;
    right: 50px;
}

.gameInterface2 {
    position: absolute;
    top: 50px;
    left: 50px;
}

.center {
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    cursor: pointer;
}

.game-title {
    color: #fff;
    top: 30%;
    font-size: 30px;
}

.startGame {
    background-color: #fff;
    border: none;
}

.pauseText {
    position: absolute;
    font-size: 30px;
    color: #fff;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.counter, .pauseText, .restartGame {
    display: none;
    width: 100px;
    height: 100px;
}

.img_bird, .img_coin, .img_pipe {
    display: none;
}

.img_start_image_bird {
    position: absolute;
    top: 50%;
    left: 20%;
}

.img_coin_start_image {
    position: absolute;
    top: 50%;
    right: 10%;
}

@media (max-width: 500px) {
    html,body {
        font-size: 12px;
    }
    .center {
        font-size: 15px;
    }
    .game-title {
        font-size: 25px;
    }
}
